# Maven
target/
*.jar
*.war
*.ear

# Variaveis de ambiente
.env
*.env
.env.*

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.classpath
.project
.settings/
.factorypath

# VS Code
.vscode/

# Spring Boot
spring-shell.log
src/main/resources/application-dev.properties
src/main/resources/application-prod.properties

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
